{% extends 'master.html' %}

{% block content %}
	<h3 class="Table-header">Table of all courses</h3>
<table class="myTable">
    <tr>
        <th>COURSE NAME</th>
        <th>COURSE DURATION</th>
        <th>COURSE FEE</th>
    </tr>
    <tr>
        <td>FULLSTACK (MIT)</td>
        <td>5 MONTHS</td>
        <td>Ksh 55,000/=</td>
    </tr>
    <tr>
        <td>CYBERSECURITY</td>
        <td>3 MONTHS</td>
        <td>Ksh 35,000/=</td>
    </tr>
    <tr>
        <td>DATA SCIENCE</td>
        <td>3 MONTHS</td>
        <td>Ksh 30,000/=</td>
    </tr>

</table>

{% endblock %}
